{% extends 'base.html' %}

{% block content %}

<div class = "container">
    <div class = "row">
        <div class = "col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="../static/image/1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                          <p class="card-text">Анна Васильена</p>
                         <p class="card-text">e-mail: kudato@mail.ru</p>
                         <p class="card-text">дата рождения: 01.01.1981</p>
                         <p class="card-text">город: Воронеж</p>
                    </div>
            </div>
        </div>
        <div class = "col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="../static/image/2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                          <p class="card-text">Виктория Ивановна</p>
                         <p class="card-text">e-mail: s_kem_to@mail.ru</p>
                         <p class="card-text">дата рождения: 01.01.1981</p>
                         <p class="card-text">город: Саратов</p>
                    </div>
            </div>
        </div>

        <div class = "col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="../static/image/3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                          <p class="card-text">Юлия Викторовна</p>
                         <p class="card-text">e-mail: gdeto@mail.ru</p>
                         <p class="card-text">дата рождения: 03.03.1983</p>
                         <p class="card-text">город: Кимры</p>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}